@keyframes show {
    from {
        opacity: 0;
        transform: translateX(-150%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.speed {
    animation: show 1s .6s linear forwards;
}

.protect {
    animation: show 1s .3s linear forwards;
}

.support {
    animation: show 1s linear forwards;
}